body {
    background: url("../images/background.png");
}

.header-bar {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

#graph {
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
}

.code-input {
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 16px;    
}

label,
.panel,
.header-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.margin-top-md {
    margin-top: 20px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}
